
<% if(status) { %>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 transcriptionCard">

     <img src=<%= thumbnail %> class="img-responsive">
       <h4  class="showBtn" ><a hre=""><%= title %></a></h4>
      <h5><%= jobTitle %></h5>
      <!-- trying to make sure all boxes are alligned with this quick fix -->
      <% if(description.length > 51){ %>
      <!-- 	<p><%= description.substring(0,51) %> <a href="">...</a></p>  -->
      <% }else{ %>
      <!-- 	<p><%= description %></p>  -->
     <% } %>
  </div><!-- col -->
 <% } %>
  